<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="UI Tests" parallel="false">
    <test name="Web Tests">
        <groups>
            <run>
                <include name="web"/>
            </run>
        </groups>
        <packages>
            <package name="com.uitesting.tests.web"/>
        </packages>
    </test>
    <test name="Mobile Tests">
        <groups>
            <run>
                <include name="mobile"/>
            </run>
        </groups>
        <packages>
            <package name="com.uitesting.tests.mobile"/>
        </packages>
    </test>
</suite>
